<!DOCTYPE html>
<html ng-app="ispyModule">
<head>
	<meta author="Hannah Westberg">
	<meta name="description" content="A fun, interactive game inspired by the classic I Spy books">
	<meta name="keywords" content="spy, game, fun, learning, search">
	<link rel="stylesheet" type="text/css" href="/css/ispy.css">
	<title>I Spy</title>
</head>
<body class="container" ng-controller="IspyController">
	<header>
		<h1>I Spy</h1>
		<p>Select a puzzley puzzle!</p>
		<div class="row">
			<select id="puzzleTitle" type="text" ng-model="puzzleTitle" ng-change="getPuzzle()" ng-options="puzzle.title for puzzle in puzzles">
			</select>
		</div>
	</header>
	<main class="container">
		<div class="row">
			<h2>Your I Spy Puzzle Is: {{ puzzleTitle.title }}</h2>
		</div>
		<div  class="row puzzle-container">

 <img ng-repeat="image in images" ng-click="isClicked($event)" src="{{image.src}}" class="{{image.classes}} ">
		</div>
	</main>
	<section class="row">
			<p>I spy...</p>
			<div class="scrollable">
					<form class="puzzle-riddle-container" ng-repeat="riddle in riddles" >
						<label ng-repeat="(key, val) in riddle">
							<input type="checkbox" disabled>{{val}}
						</label>
					</form>
			</div>
	</section>
	<footer>
		<p>FOOTER</p>
	</footer>
<script src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/angular.min.js"></script>
<script type="text/javascript" src="/js/ispy.js"></script>
</body>
</html>